html {
    background-color: white;
    filter: invert(1) hue-rotate(180deg);
  }

  img {
    filter: invert(1) hue-rotate(180deg);
  }
  
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    width: 100vw;
}

.search-box-wrapper {
    display: inline-flex;
    font-size: 20px;
}

.search-box-input {
    font-size: inherit;
    border: 0.2em solid #7e7;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em 0.5em;
    outline: 0;
}

.search-box-input:hover,
.search-box-input:focus {
    border-color: #4d4;
}

.search-box-button {
    font-size: inherit;
    border: 0.2em solid #7e7;
    border-radius: 0 0.5em 0.5em 0;
    background-color:#7e7;
    border-left: 0;
    padding: 0 0.75em;
    color: white;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}

.search-box-input:hover,
.search-box-input:focus {
    border-color: #4d4;
    background-color: #4d4;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 5px;
    display: flex;
    position: sticky;
    top: 10px;
    background-color: white;
    margin-bottom: 50px;
}

.search-container>input {
    width: 75%;
    padding: 16px;
    border: 0;
    border-bottom: 1px solid rgb(255, 3, 3);
    font-weight: bold;
}

.search-container>input:focus {
    outline: 0;
    border-bottom: 2px solid rgb(255, 0, 0);
}

.search-container>input:focus::placeholder {
    font-weight: bold;
}

.search-container>input::placeholder {
    color: rgb(255, 0, 0);
    font-weight: normal;
}

.search-container>button {
    width: 20%;
    cursor: pointer;
    margin-left: auto;
    padding: 16px;
    background-color: white;
    color: rgba(255, 0, 0, 1);
    border: 0;
    font-size: 24px;
    text-transform: uppercase;
}

.item-resep {
    margin-bottom: 18px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    display: block;
    transition: 0.3s;
}

.item-resep:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.item-resep h4 {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 550px) {
    .search-container {
        flex-direction: column;
        position: static;
    }

    .search-container>input {
        width: 100%;
        margin-bottom: 12px;
    }

    .search-container>button {
        width: 100%;
    }
}
